<h1 class="text-center">Region List</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Wine Count</th>
    </tr>
  </thead>
  <tbody>

    <% @regions.each do |region| %>
      <%= render region %>
    <% end %>

  </tbody>
</table>

<%= link_to "Create Region", new_region_path %>
