<h1 class="text-center">Wine List</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Appellation</th>
      <th>Varietal</th>
      <th>Vineyard</th>
    </tr>
  </thead>
  <tbody>

    <% @wines.each do |wine| %>
      <%= render wine %>
    <% end %>

  </tbody>
</table>
