<h1>Viewing Page for <%= @wine.name %></h1>

<p><strong>Appellation:</strong> <%= @wine.appellation.name %></p>
<p><strong>Varietal:</strong> <%= @wine.varietal.name %></p>
<p><strong>Vineyard:</strong> <%= @wine.vineyard.name %></p>
